.wrapper{
    width: 100%;
    height: 100%;
    margin: auto;
    padding-top: 50px;
}
.wrapper h1{
    font-size: 40px;
    text-align: center;
    font-weight: 700;
}
.wrapper .image-area img{
    width: 600px;
    height: 500px;
}
.image-area{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.single-image{
    padding: 15px;
}

/*-----Our team-----*/
.team{
    padding: 50px 0;
    height: 100vh;
    box-sizing: border-box;
    margin-bottom: 30px;
}
.container{
    width: 100%;
    height: 50px auto;
}
.team-row{
    position: relative;
    width: 100%;
    box-sizing: border-box;
}
.team-row h1{
    color: black;
    text-align: center;
    margin: 0;
    padding: 0;
    font-weight: 700;
    font-size: 40px;
    /* text-transform: uppercase; */
}
.team-row p{
    margin: 20px 0 0 ;
    color: black;
    padding-left: 20px;
    text-align: center;
    text-transform: uppercase;
}
.mgt50px{
    margin-top: 50px;
}
.team-row .team-col{
    margin: 0 10px;
    position: relative;
    width: calc(25% - 20px);
    min-height: 250px;
    background: white;
    float: left;
    box-sizing: border-box;
    border: solid thick black;
}
.team-details h3{
    color: black;
}
.team-row .team-col .image-box{
    position: relative;
}
.team-row .team-col .image-box img{
    width: 100%;
    transition: 0.5s;
}
.team-row .team-col .team-details{
    position: absolute;
    bottom: -115px;
    left: 0;
    padding: 10px;
    box-sizing: border-box;
    background: rgba(0, 0, 0, .1);
    width: 100%;
    transition: .5s;
}
.team-row .team-col .team-details h3{
    margin: 0;
    padding: 0;
    color: black;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
}
.team-row .team-col .team-details h3 span{
    margin: 0;
    padding: 0;
    font-size: 16px;
    color:black;
    font-weight: 700;
    position: relative;
    text-transform: uppercase;
    top: -6px;
}
.team-row .team-col .team-details ul{
    margin: 0;
    padding: 0;
    display: flex;
    float: left;
    flex-wrap: wrap;
}
.team-row .team-col .team-details ul li{
    list-style: none;
}
.team-row .team-col .team-details ul li a{
    padding: 0 10px;
    color: black;
}
.team-row .team-col .team-details ul li a .fa{
    transition: .5s;
}
.team-row .team-col .team-details ul li a .fa:hover{
    transform: rotateY(360deg);
}


/*------responsive ourteam*/
@media (max-width:991px) {
    .team-row .team-col .team-details{
        position: absolute;
        bottom: -170px;
        left: 0;
        padding: 10px;
        box-sizing: border-box;
        background: rgba(0, 0, 0, .1);
        width: 100%;
        transition: .5s;
    }
}
@media (max-width:767px) {
    .team-row .team-col .team-details{
        position: absolute;
        bottom: -195px;
        left: 0;
        padding: 10px;
        box-sizing: border-box;
        background: rgba(0, 0, 0, .1);
        width: 100%;
        transition: .5s;
    }
}
@media (max-width:501px) {
    .team-row .team-col .team-details{
        position: absolute;
        bottom: -220px;
        left: 0;
        padding: 10px;
        box-sizing: border-box;
        background: rgba(0, 0, 0, .1);
        width: 100%;
        transition: .5s;
    }
}