*{
    margin: 0;
    padding: 0;
    position: relative;
  }
  .name{
       background-color:#f4f7f9;
       border-radius:2px;
       width:100%; 
       padding:10px; 
       border:none; 
       height:40px;
    }
  .mail{
    background-color:#f4f7f9; 
    border-radius:2px;
    padding:10px; 
   
    border:none; 
    height:40px;
  }
  .message{
    background-color:#f4f7f9; 
    border-radius:2px;
    width:100%; 
    padding:10px; 
    border:none; 
  
    height:100px;
    }
    .bttn{
            background-color:#00979d;
            color: white;
            transition: .8s;
            line-height: 50%;
            width:100%;
            padding:10px; 
            text-decoration:none; 
            border:none; 
           
            height:35px;
  }
  
  .bttn:hover{
            background-color: #006f73;
            color:white;
            border-radius:5px;
  }
  .col-sm-4 ul li{
padding-left: 60px;padding-right: 60px;
vertical-align:text-bottom;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-size: 25px;
list-style-type: none;

  }

  
  #pab{
   
    border-left: 1px solid black;
    border-right: 1px solid black;
  }
  #pad1{
    border-left: 1px solid black;
    border-right: 1px solid black;

  }
  
#cbb{
  font-family:Georgia, 'Times New Roman', Times, serif;
  padding-top: 200px;
  padding-left: 10px;
    font-size: 20px;
    font-weight: bold;
    font-size: 50px;
    color: white;
 
  }
  #cbb:hover{
      transition: .8s;
      color: rgb(240, 240, 240);
  }