.name{
  background-color:#f4f7f9;
  border-radius:2px;
  width:100%; 
  padding:10px; 
  border:none; 
  height:40px;
  margin-bottom: 5px;
}
.mail{
background-color:#f4f7f9; 
border-radius:2px;
padding:10px; 
margin-right: 5px;
border:none; 
height:40px;
}
.tel{
background-color:#f4f7f9; 
border-radius:2px;
padding:10px; 
border:none; 
height:40px;
margin-bottom: 5px;
}
.message{
background-color:#f4f7f9; 
border-radius:2px;
width:100%; 
padding:10px; 
border:none; 
margin-bottom: 20px;
height:110px;

}
.bttn{
       background-color:#ff523b;
       color: white;
       transition: .5s;
       line-height: 50%;
       width:100%;
       padding:10px; 
       text-decoration:none; 
       border-radius: 30px;
       border:none; 
       height:35px;
}

.bttn:hover{
background-color: #563434;
color:white;
}
#contaibox{
  margin-bottom: 50px;
}
#padC ,#padL ,#padR{
padding-left: 100px;
}
#padC ul li{
  list-style-type: none;
  line-height: 35px;
}
#padC{
  border-right: 1px solid black;
  border-left: 1px solid black;
}
#padL ul li{
  list-style-type: none;
  line-height: 35px;
}
#padL{
  border-left: 1px solid black;
}
#padR ul li{
  list-style-type: none;
  
  line-height: 35px;
}
#padR{
  border-right: 1px solid black;
}

#bk{
padding:140px;
margin-bottom: 50px;

}
#cbb{
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
color: #FFFFFF;
width:100%;
float:right;
margin-top: -112px;
font-size:50px;
font-weight: bold;
animation-name: cbb;
animation-duration: 2s;
animation-direction: alternate;

}
@keyframes cbb{
0%{ 
   width:300%;
      }
50%{
 
}
70%{
    
 }
100%{
     }
}