*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}
.header1{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/rimac-c2-1-980x620.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
nav ul li{
    list-style: none;
    display: inline-block;
    align-items: center;
    justify-content: center;
    padding: 10px 25px;
    position: relative;
    font-size: 20px;
}
.dropright:hover>.dropdown-menu{
    display: block;
}
.dropdown:hover>.dropdown-menu{
    display:block;
}
/*.nav-link1 ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 15px;
    text-transform: uppercase;
}
.nav-link1 ul li::after{
    content: "";
    width: 0%;
    height: 2px;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-link1 ul li:hover::after{
    width: 100%;
}*/
.text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.text-box h1{
    font-size: 62px;
}
.text-box p{
    margin: 10px 0 40px;
    font-size: 14px;
    color: #fff;
}
.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.hero-btn:hover{
    border: 1px solid #f44336;
    background: #f44336;
    transition: 1s;
}
nav .fa{
    display: none;
}



.carousel{
    width: 90%;
    margin: auto;
    align-items: center;
    padding: 10px;
}
.carousel-inner img{
    width: 100%;
    height: 100%;
}

/*@media(max-width:700px){
    .text-box h1{
        font-size: 20px;
    }
    .nav-link1 ul li{
        display: block;
    }
    .nav-link1{
        position: absolute;
        background: #f44336;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }
    nav .fa{
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
    nav-link1 ul{
        padding: 30px;
    }
}/*

/*-------Introducing-------*/

/*.course{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}*/
h1{
    font-size: 36px;
    font-weight: 600;

}
p{
    color: #777;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}
.row1{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
/*.course-col{
    flex-basis: 31%;
    background: #fff3f3;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
}
h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}
.course-col:hover{
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
}
@media(max-width:700px){
    .row{
        flex-direction: column;
    }
}*/

/*--------Brand-------*/
.campus{
    width: 100%;
    height: 100%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
    background-color: #F8F8F8 ;
}
.campus-col{
    flex-basis: 18%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: center;
    box-sizing: border-box;
    transition: 0.5s;
    padding: 0 40px;
}
.campus-col:hover{
    transform: scale(1.1);
    box-shadow: 0 25px 40px rgba(0, 0, 0, .5);
}
.campus-col img{
    border-radius: 15px;
    width: 100%;
}




/*-------Cars types------*/
.cartypes{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
.cartypes-col{
    flex-basis: 20%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: center;
    box-sizing: border-box;
    transition: 0.5s;
}
.cartypes-col img{
    width: 100%;
    border-radius: 15px;
}
.cartypes-col:hover{
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
    transform: scale(1.2);
    text-decoration: none;
}
.cartypes-col a{
    text-decoration: none;
    color: black;
}
.cartypes-col a:hover{
    text-decoration: none;
}

/*----best seller---*/
.rowsell{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
.rowsell-col{
    flex-basis: 15%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: center;
    box-sizing: border-box;
    transition: 0.5s;
}
.rowsell-col img{
    width: 100%;
    border-radius: 15px;
}
.rowsell-col:hover{
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
    transform: scale(1.2);
    text-decoration: none;
}




/*------customer-------*/
.customer{
    width: 80%;
    margin: auto;
    padding-top: 100px;
    text-align: center;
}
.customer-col{
    flex-basis: 25%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
    background: #fff3f3;
    padding : 25px;
    cursor: pointer;
    display: flex;
}
.customer-col img{
    height: 60px;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 60%;
}
.customer-col p{
    padding: 5px;
}
.customer-col h3{
    margin-top: 15px;
    text-align: left;
}
.customer-col i{
    color: darkblue;
}
@media(max-width:700px){
    .customer-col img{
        margin-left: 0px;
        margin-right: 0px;
    }
}


/*------footer------*/
.footer1{
    width: 100%;
    text-align: center;
    padding: 30px 0;
    background-color: black;
    color: white;
}
.footer1 h1{
    margin-bottom: 25px;
    margin-top: 25px;
    font-weight: 600;
}
.footer1 p{
    color: white;
}
.icons .fab{
    color: white;
    margin: 0 13px;
    padding: 18px 0;
}