* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* Nav-bar */

nav{
    background: white;
}
nav::after{
    content: "";
    clear: both;
    display: table;
}
nav .logo{
    float: left;
    padding-left: 30px;
    line-height: 80px;
    margin-top: 20px;
}
nav ul{
    float: right;
    list-style: none;
    margin-right: 40px;
    position: relative;
    margin-top: 10px;
}
nav ul li{
    
    display: inline-block;
    background: white;
    margin: 0 10px;
}
nav ul li a{
    color: black;
    text-decoration: none;
    line-height: 100px;
    font-size: 20px;
    padding: 10px 20px;
}
nav ul li a:hover{
    border-radius: 5px;
    color: #ff523b;
    text-decoration: none;
}
nav ul ul{
    position: absolute;
    top: 90px;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
}
nav ul li:hover > ul{
    top: 70px;
    opacity: 1;
    visibility: visible;
}
nav ul ul li{
    position: relative;
    margin: 0px;
    width: 160px;
    float: none;
    display: list-item;
}
nav ul ul li a{
    line-height: 50px;
}
nav ul ul ul li{
    position: relative;
    top: -70px;
    left: 160px;
}


/*--- responsive nav---*/
.cv-show, nav input, .icon-1{
    display: none;
}
@media all and (max-width: 700px) {
    nav ul{
        margin-right: 0px;
        float: left;
    }
    nav .logo{
        padding-left: 30px;
        width: 100%;
    }
    nav ul li, nav ul ul li{
        display: block;
        width: 100%;
    }
    nav ul ul{
        top: 70px;
        position: static;
        border-top: none;
        float: none;
        display: none;
        opacity: 1;
        visibility: visible;
    }
    nav ul ul ul li{
        position: static;
    }
    nav ul ul li a{
        padding-left: 50px;
    }
    .cv-show{
        display: block;
        color: black;
        font-size: 18px;
        padding: 0 20px;
        line-height: 70px;
        cursor: pointer;
    }
    .cv-show :hover{
        color:#ff523b;
    }
    .icon-1{
        display: block;
        color: black;
        position: absolute;
        right: 40px;
        top: 20px;
        line-height: 70px;
        font-size: 25px;
        cursor: pointer;
    }
    nav ul li a:hover{
        box-shadow: none;
    }
    .cv-show + a,ul{
        display: none;
    }
    [id^=btn]:checked + ul{
        display: block;
    }
}

/* Header section */

.cv-row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.cv-col-2 {
    flex-basis: 50%;
    min-width: 300px;
}
.cv-col-2 img {
    max-width: 100%;
    padding: 50px 0;
}
.cv-col-2 h1 {
    line-height: 62px;
    margin: 25px 0;
}


/* Slider */

.carousel {
    margin-bottom: 80px;
}
.carousel .carousel-inner {
    height: 100vh;  
} 
.carousel-inner img {
    min-height: 200px; /* prevent it from stretch in screen size < than 768px */
    object-fit: cover;
}
#carouselExampleIndicators{
    z-index: -1;
}

/* Button  */

.btn-hero {
    display: inline-block;
    background: #ff523b;
    color: white; 
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: 0.5s;
}
.btn-hero:hover {
    background: #563434;
    color: white;
    text-decoration: none;
}

/* Featured Products */
.cv-small-container {
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.cv-col-4 {
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s;
}
.cv-col-4 img {
    width: 100%;
    margin-bottom: 15px;
}
h2.cv-tittle {
    font-weight: 600;
    font-size: 26px;
}
.cv-tittle {
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: #555;
}
.cv-tittle::after {
    content: "";
    background: #ff523b;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
.cv-col-4 h4 {
    color: #555;
    font-weight: normal;
    font-size: 16px;
}
.car-details h4 {
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
}
.car-details .brand-logo {
    width: 75%;
}
.cv-col-4 p {
    font-size: 14px;
    color: #555;
}
.rating .fa {
    color: #ff523b;
}
.cv-col-4:hover {
    transform: translateY(-5px);
}
.cv-col-4:hover a {
    text-decoration: none;
}

/* Detail page - Tittle section */
.row-2 {
    justify-content: space-between;
    margin: 100px auto 50px;
}
.cv-row h2 {
    font-weight: 600;
    font-size: 24px;
} 

/* Single product details */

.single-product {
    margin-top: 80px;
}
.single-product .cv-col-2 img {
    padding: 0;
    max-height: 300px;
    object-fit: cover;
}
.single-product .cv-col-2 {
    padding: 20px;
}
.single-product h4 {
    margin: 20px 0;
    font-size: 22px;
    font-weight: bold;
    color: #ff523b;
}
.single-product h3 {
    font-size: 19px;
    font-weight: bold;
    padding-top: 20px;
}
.single-product .cv-col-2 h1 {
    font-weight: 700;
}
.single-product .fa {
    color: #ff523b;
    margin-left: 10px;
}
.small-img-row {
    display: flex;
    justify-content: space-between;
}
.small-img-col {
    flex-basis: 24%;
    cursor: pointer;
    margin-top: 5px;
}

/* Product Description */
.product-description h4 {
    font-weight: bold;
    font-size: 20px;
    color: black;
}
.product-description p {
    margin-top: 20px;
}
.product-description hr {
    margin-top: 50px;
}
.product-description .car-detail {
    text-align: center;
}
.product-description img {
    width: 90%;
    padding: 20px;
    max-height: 550px;
    object-fit: cover;
}
.product-description iframe {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 85%;
    height: 450px;
}

/* Responsive for Menu */
.menu-icon {
    width: 28px;
    margin-left: 20px;
    display: none;
}
@media only screen and (max-width: 700px) {
    .cv-navbar ul {
        position: absolute;
        top: 70px;
        left: 0;
        background: #333;
        width: 100%;
        overflow: hidden; 
        transition: max-height 0.5s;
    }
    .cv-navbar ul li {
        display: block;
        margin-right: 50px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .cv-navbar ul li a {
        color: white;
    }
    .menu-icon {
        display: block;
        cursor: pointer;
    }
}
/* Responsive */
@media only screen and (max-width: 700px) {
    .cv-row {
        text-align: center;
    }
    .cv-col-2, .cv-col-4 {
        flex-basis: 100%;
    }
    .carousel-inner > .item > img { 
        width: 640px; 
        height: 360px; 
    }
    .carousel {
        margin-bottom: -280px;
    }
    .single-product .cv-row {
        text-align: left;
    }
    .single-product .cv-col-2 {
        padding: 20px 0;
    }
    .single-product h1 {
        font-size: 26px;
        line-height: 32px;
    }
    .product-description iframe {
        margin-top: 20px;
        margin-bottom: 20px;
        width: 100%;
    }
    .car-detail {
        text-align: center;
    }


}


/* Footer section  */
.footer1{
    width: 100%;
    text-align: center;
    padding: 30px 0;
    background-color: black;
    color: white;
}
.footer1 h1{
    margin-bottom: 25px;
    margin-top: 25px;
    font-weight: 600;
}
.footer1 p{
    color: white;
}
.icons .fab{
    color: white;
    margin: 0 13px;
    padding: 18px 0;
}
.footer1 img {
    width: 180px;
    margin-bottom: 10px;
}

/* Car Story */

.responsive {
    max-width: 400px;
    width: 100%;
}
.flex-container {
    display: flex;
}
.flex-container>div {
    margin: 10px;
    padding: 40px 40px;
    width: 400px;
    font-size: 15px;
    text-align: justify;
}

/* Contact Us */

.name{
    background-color:#f4f7f9;
    border-radius:2px;
    width:100%; 
    padding:10px; 
    border:none; 
    height:40px;
    margin-bottom: 5px;
  }
  .mail{
  background-color:#f4f7f9; 
  border-radius:2px;
  padding:10px; 
  margin-right: 5px;
  border:none; 
  height:40px;
  }
  .tel{
  background-color:#f4f7f9; 
  border-radius:2px;
  padding:10px; 
  border:none; 
  height:40px;
  margin-bottom: 5px;
  }
  .message{
  background-color:#f4f7f9; 
  border-radius:2px;
  width:100%; 
  padding:10px; 
  border:none; 
  margin-bottom: 20px;
  height:110px;
  
  }
  .bttn{
         background-color:#ff523b;
         color: white;
         transition: .5s;
         line-height: 50%;
         width:100%;
         padding:10px; 
         text-decoration:none; 
         border-radius: 30px;
         border:none; 
         height:35px;
  }
  
  .bttn:hover{
  background-color: #563434;
  color:white;
  }
  #contaibox{
    margin-bottom: 50px;
  }
  #padC ,#padL ,#padR{
  padding-left: 100px;
  }
  #padC ul li{
    list-style-type: none;
    line-height: 35px;
  }
  #padC{
    border-right: 1px solid black;
    border-left: 1px solid black;
  }
  #padL ul li{
    list-style-type: none;
    line-height: 35px;
  }
  #padL{
    border-left: 1px solid black;
  }
  #padR ul li{
    list-style-type: none;
    
    line-height: 35px;
  }
  #padR{
    border-right: 1px solid black;
  }
  
  #bk{
  padding:140px;
  margin-bottom: 50px;
  
  }
  #cbb{
  color: #FFFFFF;
  width:100%;
  float:right;
  margin-top: -103px;
  font-weight: bold;
  animation-name: cbb;
  animation-duration: 2s;
  animation-direction: alternate;
  
  }
  @keyframes cbb{
  0%{ 
     width:300%;
        }
  50%{
   
  }
  70%{
      
   }
  100%{
       }
  }
