*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}
h1{
    font-size: 36px;
    font-weight: 600;

}
p{
    color: #777;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}
.row1{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

/*-------navbar------*/

nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
nav ul li{
    list-style: none;
    display: inline-block;
    align-items: center;
    justify-content: center;
    padding: 10px 42px;
    position: relative;
    font-size: 20px;
    text-decoration: none;
}
nav ul li a{
    text-decoration: none;
    color: black;
}
nav ul li a:hover{
    text-decoration: none;
    color: lightgray;
}
.dropright:hover>.dropdown-menu{
    display: block;
}
.dropdown:hover>.dropdown-menu{
    display:block;
}

/*------ slide show-----*/

.carousel{
    width: 100%;
    margin: auto;
    align-items: center;
    padding: 10px;
}
.carousel-inner .carousel-item img{
    width: 100%;
    max-height: 100%;
}

/*--------Brand-------*/

.campus{
    width: 100%;
    height: 100%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
    background-color: #F8F8F8 ;
}
.campus-col{
    flex-basis: 18%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: center;
    box-sizing: border-box;
    transition: 0.5s;
    padding: 0 40px;
}
.campus-col:hover{
    transform: scale(1.1);
    box-shadow: 0 25px 40px rgba(0, 0, 0, .5);
}
.campus-col img{
    border-radius: 15px;
    width: 100%;
}

/*-------Cars types------*/

.cartypes{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
.cartypes-col{
    flex-basis: 20%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: center;
    box-sizing: border-box;
    transition: 0.5s;
}
.cartypes-col:hover{
    transform: scale(1.2);
}
.cartypes-col img{
    width: 100%;
    border-radius: 15px;
}


.cartypes-col a{
    text-decoration: none;
    color: black;
}
.cartypes-col a:hover{
    text-decoration: none;
    color: lightgray;
}


/*----best seller---*/
.bestseller{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
.bestseller-col{
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: center;
    transition: 0.5s;
}
.bestseller-col img{
    width: 100%;
    border-radius: 10px;
}
.bestseller-col a{
    color: black;
}
.bestseller-col a:hover{
    text-decoration: none;
}
.bestseller-col:hover{
    text-decoration: none;
    transform: scale(1.1);
}






/*------customer-------*/
.customer{
    width: 80%;
    margin: auto;
    padding-top: 100px;
    text-align: center;
}
.customer-col{
    flex-basis: 25%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
    background: #fff3f3;
    padding : 25px;
    cursor: pointer;
    display: flex;
}
.customer-col img{
    height: 60px;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 60%;
}
.customer-col p{
    padding: 5px;
}
.customer-col h3{
    margin-top: 15px;
    text-align: left;
}
.customer-col i{
    color: darkblue;
}
@media(max-width:700px){
    .customer-col img{
        margin-left: 0px;
        margin-right: 0px;
    }
}


/*------footer------*/
.footer1{
    width: 100%;
    text-align: center;
    padding: 30px 0;
    background-color: black;
    color: white;
}
.footer1 h1{
    margin-bottom: 25px;
    margin-top: 25px;
    font-weight: 600;
}
.footer1 p{
    color: white;
}
.icons .fab{
    color: white;
    margin: 0 13px;
    padding: 18px 0;
}