* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}

.carousel video {
    height: 100vh;
    object-fit: cover;
    width: 100%;
}
/* Brand Overview */
.car-overview {
    background-color: #f8f8f8;
    margin-bottom: 80px;
}
.car-overview h1 {
    font-size: 44px;
    font-weight: 700;
    line-height: 62px;
    text-align: center;
    padding: 50px 0;
}
.car-overview p {
    font-size: 16px;
    text-align: justify;
    max-width: 950px;
    margin: 10px auto;
}
.car__dislay {
    margin: 70px;
    display: flex;
}

.overview__car-info h4 {
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
}


/* Car Product */
.car-brand {
    margin-bottom: 60px;
    padding-left: 70px;
    padding-right: 50px;
}
.car-brand__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}
.car-brand__info h2 {
    font-size: 24px;
    font-weight: 600;
}
.car-brand__info img {
    width: 48px;
    object-fit: contain;
}
.car-brand img {
    width: 48px;
    object-fit: contain;
    margin-top: 40px;
}
.car-brand h3 {
    font-size: 18px;
    font-weight: 600;
    margin: 20px auto;
}
.overview__car{
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    margin: 40px 20px;
    border-radius: 10px;
    transition: transform 0.5s;
} 
.overview__car:hover  {
    text-decoration: none;
    transform: translateY(-5px);
}
.overview__car img {
    width: 240px;
    object-fit: contain;
}
.overview__car-info p {
    text-align: left;
    font-size: 16px;
    margin-top: 5px;
    color: #000;
}
.overview__car-info h5 {
    margin-top: 10px;
    color: #575757;
    font-size: 16px;
}
/* Button for more details */
.car-btn {
    margin-top: 10px;
    background-color: #ff523b;
    padding: 8px 70px;
    border-radius: 10px;
    color: #fff;
}

.car-btn:hover {
    background: #563434;
    text-decoration: none;
    color: #fff;
}

/* Responsive for Car Brand Page */
@media only screen and (max-width: 700px) {
    .car-overview {
        padding: 10px 20px;
        margin-bottom: 80px;
    }
    .car-overview h1 {
        font-size: 22px;
        font-weight: 700;
        line-height: 38px;
        padding: 70px 0;
        text-align: center;
    }
    .overview__car-info h4 {
        font-size: 12px;
        font-weight: bold;
        margin: 5px 0;
    }
    .car-overview p {
        text-align: justify;
        font-size: 12px;
        margin: 5px 0;
    }
    .car-brand__info h2,
    .car-brand h3 {
        font-size: 14px;
        font-weight: 700;
        margin-bottom: 30px;
    }
    .car-brand img, 
    .car-brand__info img {
        width: 36px;
        object-fit: contain;
    }
    .car-overview h5 {
        font-size: 12px;
        margin-top: 10px;
    }
    .overview__car-info p {
        font-size: 12px;
        margin-top: 5px;
        color: #000;
    }
    .car__dislay {
        display: flex;
        flex-direction: column;
    }
    .carousel video {
        width: 640px; 
        height: 360px; 
    }

}