* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}
/* Brand Overview */
.car-overview {
    background-color: #f8f8f8;
    margin-bottom: 80px;
}
.car-overview h1 {
    font-size: 44px;
    font-weight: 700;
    line-height: 62px;
    text-align: center;
    padding: 50px 0;
}
.car-overview p {
    font-size: 16px;
    text-align: justify;
    max-width: 950px;
    margin: 20px auto;
}
.car__dislay {
    margin: 70px;
    display: flex;
}

.overview__car-info h4 {
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
}


/* Car Product */
.car-brand {
    margin-bottom: 60px;
    padding-left: 70px;
    padding-right: 50px;
}
.car-brand__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.car-brand__info h2 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 50px;
}
.car-brand__info img {
    width: 48px;
    object-fit: contain;
    margin-bottom: 50px;
}

.car-brand h3 {
    font-size: 18px;
    font-weight: 600;
    margin: 20px auto;
}
.overview__car,
.car__product-item {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    margin: 30px 20px;
    border-radius: 10px;
    transition: transform 0.5s;
} 
.overview__car:hover,
.car__product-item:hover a {
    text-decoration: none;
    transform: translateY(-5px);
}
.overview__car img,
.car__product-item img {
    width: 240px;
    object-fit: contain;
}
.car__product-item h4 {
    font-size: 16px;
    margin-top: 10px;
    color: #575757;
}
.overview__car-info p,
.car__product-item p {
    font-size: 16px;
    margin-top: 5px;
    color: #000;
}

/* Responsive for Car Brand Page */
@media only screen and (max-width: 700px) {
    .car-overview {
        padding: 10px 20px;
        margin-bottom: 80px;
    }
    .car-overview h1 {
        font-size: 22px;
        font-weight: 700;
        line-height: 38px;
        padding: 70px 0;
        text-align: center;
    }
    .overview__car-info h4 {
        font-size: 12px;
        font-weight: bold;
        margin: 5px 0;
    }
    .car-overview p,
    .overview__car-info p {
        text-align: left;
        font-size: 12px;
        margin: 5px 0;
    }
    .car-brand__info h2,
    .car__product h3 {
        font-size: 14px;
        font-weight: 700;
        margin-bottom: 30px;
    }
    .car-brand__info img {
        width: 36px;
        object-fit: contain;
    }
    .car__product-item h4 {
        font-size: 12px;
        margin-top: 10px;
        color: #575757;
    }
    .car__product-item p {
        font-size: 12px;
        margin-top: 5px;
        color: #000;
    }

}